body {
    font-family: 'Roboto, Cursive';
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* font-family: 'Open Sans', sans-serif; */
    font-size: 13px;
    margin: 0;
}

:root {
    --inputBoxBar: none;
    --optionBgColor: none
}

/* 
set dynamic
width: 300px;
height: 250px;

set dynamic
background-image: url(./Image\ 2.png);
background-color: rgb(247, 235, 235);
*/
.ad_box {
    border: 1px solid black;
    /* color: rgb(49, 99, 208); */
}

.landing_page {
    display: flex;
    justify-items: center;
}


.landing_container {
    display: flex;
    /* width: 300px;
    height: 250px; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    font-size: 26px;
    justify-content: space-around;
}

#survey-btn {
    font-size: 13px;
    color: rgb(254, 254, 254);
    padding: 8px 55px;
    border-radius: 6px;
    cursor: pointer;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    /* box-shadow: 3px 8px 15px rgba(148, 148, 216, 0.5); */ /* old-needed */
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    opacity: 1;
    animation: button_up_down 1s infinite;
    animation-direction: alternate;
}

@keyframes button_up_down {
    0% {
        transform: translateX(1.5px) rotate(2deg);
        -webkit-transform: translateX(1.5px) rotate(2deg);
    }

    100% {
        -webkit-transform: translateX(-1.5px) rotate(-2deg);
        transform: translateX(-1.5px) rotate(-2deg);
    }
}

#survey-btn:hover {
    /* opacity: 1; */
    color: white;
    filter: brightness(90%);
}

.que_container,
.bottom_container,
.options_container {
    padding: 3px;
}

.Qbox {
    padding: 3px 3px 0px 3px;
    width: 280px;
    height: 45px;
    font-weight: 800;
    /* font-size: 16px; */
    display: table-cell;
    vertical-align: middle;
}

.hr_35 {
    border: 2px solid rgb(49, 99, 208);
    width: 80px;
    height: 0px;
    position: absolute;
}

.Option_comment_container {
    display: flex;
    justify-content: end;
    padding-right: 10px;
    margin-top: 7px;
    color: #545454;
    font-size: 10px;
}

.Abox {
    /* color: #545454; */
    margin-top: 3px;
    /* width: 280px; */
    padding-left: 3px;
    padding-right: 3px;
    background-color: rgba(255, 255, 255);
    /* border: 2px solid rgb(216, 208, 208); */
    border-radius: 4px;
    /* height: 27px; */
    line-height: 27px;
    /* background-color: var(--optionBgColor); */
}

.option_ui {
    /* transition: transform ease-in 0.1s, box-shadow ease-in 0.25s; */
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    /* width: 99%; */
}

/* [selected="false"] */
div.Abox:hover {
    cursor: pointer;
    /* background-color: rgb(190, 25, 25);  */
    filter: brightness(85%);
    /* color: rgba(49, 99, 210); */
}


.bottom_container {
    display: block;
    position: relative;
}

.bottom_container {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 3px;
}

#next-btn {
    font-size: 13px;
    color: rgb(254, 254, 254);
    padding: 5px 50px;
    margin-bottom: 3px;
    border-radius: 6px;
    border: none;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 3px 8px 15px rgba(62, 62, 63, 0.5);
    overflow: hidden;
    position: relative;
    z-index: 1;
    /* text-shadow: rgba(0, 0, 0, 1) 1px 1px 1px; */
    /* background-color: rgba(49, 99, 210); */
    /* cursor: pointer; */
}

#next-btn:hover {
    /* opacity: 0.8; */
    color: white;
}

#next-btn:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
}

#next-btn:hover::after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

#next-btn:active,
#survey-btn:active {
    transform: scale(0.9);
    background-color: darken(#454e55, 5%);
    box-shadow: 5px 10px 15px rgba(62, 62, 63, 0.5);
    /* box-shadow: 10px 15px 20px rgba(13, 20, 63, 0.2); */
}

.thanks_page {
    display: flex;
    justify-items: center;
}

.thankyou_container {
    display: flex;
    width: 300px;
    height: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    /* text-align: center; */
    font-size: 26px;
    justify-content: space-around;
}

#thanks_text {
    text-align: center;
}

#ending_logo {
    font-size: 15px;
    cursor: alias;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: #dc143c
}

#offer_info {
    font-size: 13px;
    text-align: left;
}

#offer_info_right {
    padding-right: 7px;
    /* display: inline; */
    font-size: 12px;
    text-align: right;
    animation: skew 0.7s infinite;
    animation-direction: alternate;
    opacity: 0;
}

@keyframes skew {
    0% {
        transform: skewX(30deg);
    }

    100% {
        transform: skewX(-30deg);
    }
}

.coupon_code {
    height: 35px;
    border-radius: 4px;
    border: 1px solid #c4c3c3;
    width: 100%;
    display: flex;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;

}

.coupon_code input {
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    flex: 3 70%;
}

.coupon_code button {
    flex: 1;
    flex: 1 30%;
}



.copybtn:hover {
    filter: brightness(90%);
}

.coupon_code button {
    /* padding: 2px 10px; */
    /* margin: 3px; */
    /* background-color: #e7dcde; */
    /* color: #fff; */
    border: 0px solid transparent;
    /* width: 150%; */
    /* padding: 0 5px 0 5px; */
}

/* Input question CSS */
* {
    box-sizing: border-box;
}

.container_lable {
    font-family: 'Roboto';
    display: block;
    margin: 35px 0 15px;
    margin-left: 15px;
}

/* ================================================= */
/* -------------For input questions----------------- */
.group {
    position: relative;
    margin-bottom: 75px;
}

/* .input_que {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 250px;
    border: none;
    border-bottom: 1px solid #757575;
} */

.input_que:focus {
    outline: none;
}

/* LABEL ======================================= */
.label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
.input_que:focus~.label,
.input_que:valid~.label {
    top: -20px;
    font-size: 14px;
    color: var(--inputBoxBar);
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 250px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: var(--inputBoxBar);
    /* background: #5264AE; */
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
.input_que:focus~.bar:before,
.input_que:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
.input_que:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: var(--inputBoxBar);
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: var(--inputBoxBar);
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: var(--inputBoxBar);
    }

    to {
        width: 0;
        background: transparent;
    }
}

.invisible,
#invisible {
    display: none;
}

.hide {
    visibility: hidden;
    width: 0;
    height: 0px;
}